<!DOCTYPE html>
<html lang="zxx" class="no-js">
    <head>
        <% include partial/head %>
    </head>
    <body>
        <% include partial/header %>
        <main class="home-cooking">
            <div class="sidebar-registration">
                <div class="register-content">
                    <div class="register-head">
                        <h4>Available Developing Courses</h4>
                        <h6>Register Now</h6>
                    </div>
                    <form action="#">
                        <p><input placeholder="Your Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Name'" type="text"></p>
                        <p><input placeholder="Your Phone Number" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Phone Number'" type="text"></p>
                        <p><input placeholder="Your Email Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Email Address'" type="email"></p>
                        <p class="select-ct">
                            <select>
                                <option value="1">Web Development</option>
                                <option value="2">Android Development</option>
                                <!-- <option value="3">Choose Course</option>
                                <option value="4">Choose Course</option> -->
                            </select>
                        </p>
                        <p><button class="btn submit-btn">Submit</button></p>
                    </form>
                </div>
                <a href="#" class="slide-toggle-btn"><span class="et-line icon-profile-male"></span></a>
            </div>
            <section id="slider" class="slider-section">
                <div class="deafult-slider slider8">
                    <div class="item relative  fullscreen flex flex-middle" style="background: url(/images/com.jpg);">
                        <div class="overlay overlay-bg"></div>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <div class="slide-content">
                                        <h1 class="light h1">Learning Software Development from us like try to improve Yourself </h1>
                                        <p class="light mt-10 h3"><strong>Tech House Studio's gole<strong> <ul>
                                          <li class="light mt-10 h5">To improve skill</li>
                                          <li class="light mt-10 h5">To get good service</li>
                                          <li class="light mt-10 h5">To get good product</li>
                                          <li class="light mt-10 h5">To save time and security</li>
                                        </ul> </p>
                                        <a href="10-course-grid-01.html" target="_blank" class="btn mt-10 mr-10">Start Now</a>
                                        <a href="09-about.html" target="_blank" class="btn mt-10">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Steering Area Start -->
            <div class="steering-area section-full">
                <div class="container">
                    <div class="row">
                        <div class="steering">
                            <div class="steering-vector">
                                <div class="cooking1">
                                    <div class="cooking2">
                                        <img src="/images/vector/speaker.svg" alt="" class="/images-responsive">
                                    </div>
                                    <h3 class="steering-head head1">01. Focus on Goal</h3>
                                    <h3 class="steering-head head2">02. Guideline to Self-Study</h3>
                                    <h3 class="steering-head head3">03. Traning</h3>
                                    <h3 class="steering-head head4">04. Try by Self</h3>
                                    <h3 class="steering-head head5">05. Regular Lecture Mission</h3>
                                    <h3 class="steering-head head6">06. Certificate Project</h3>
                                </div>
                            </div>
                            <div class="mobile-steering">
                                <h3>01. Focus on Goal</h3>
                                <h3>02. Collecting Ingredients</h3>
                                <h3>03. Main Procedure</h3>
                                <img src="/images/vector/design1.svg" alt="" class="/images-responsive">
                                <h3>04. Failure Attempts</h3>
                                <h3>05. Start Processing again</h3>
                                <h3>06. Inventing Unique Dish</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Steering Area End -->
            <!-- Regular Course Start -->
            <section class="section-full course-grid1 bg-gray regular-course8">
                <div class="container">
                    <div class="popular-course">
                        <div class="row">
                            <div class="col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-offset-10">
                                <div class="section-head text-center pb-50">
                                    <h2 class="first-title">Developing Courses</h2>
                                    <p>Our Training Center continue train following courses</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="popular-course-body">
                              <% for(var i = 0; i< course.length; i++){%>
                                <div class="col-sm-4">
                                    <div class="single-popular">
                                        <img src="/images/course/c1.jpg" class="/images-responsive" alt="">
                                        <div class="grid-course">
                                            <div class="popular-course-content p-40">
                                                <h3><a href="14-course-details.html" target="_blank"><%= course[i].name%></a></h3>
                                                <!-- <p class="reviews pt-20">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <span class="review-count">20 Reviews</span>
                                                </p> -->
                                                <p><%= course[i].desc%></p>
                                                <a href="/course/cdetail/<%=course[i]._id%>" class="learn">Learn More  <i class="ml-10 fa fa-caret-right" aria-hidden="true"></i></a>
                                            </div>
                                            <div class="course-bottom flex">
                                                <div class="single-bottom trainer">
                                                    <a href="/teacher/tdetail/<%= course[i].teacher_id._id%>"><span class="et-line icon-profile-male"></span><span><%= course[i].teacher_id.name%></span></a>
                                                </div>
                                                <div class="single-bottom">
                                                    <span>Total <%=course[i].seats%> Seats</span>
                                                </div>
                                                <div class="single-bottom amount">
                                                    <span><%=course[i].fee%></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <%}%>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- / #Regular Course End -->
                <!-- Trainer Area Start -->
                <section id="chose-teachers" class="section-full our-trainer">
                    <div class="container">
                        <div class="chose-course">
                            <div class="row">
                                <div class="col-md-offset-2 col-md-8 col-sm-12">
                                    <div class="section-head text-center pb-100">
                                        <h2 class="first-title">Our Trainers</h2>
                                        <p>They are our traning center's trainer</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="total-trainer">
                                  <% for(var t = 0; t< teacher.length; t++){%>
                                    <div class="col-sm-3">
                                        <div class="single-trainer">
                                            <div class="trainer-img">
                                                <img src="/images/teacher/b1.png" alt="" class="/images-responsive">
                                            </div>
                                            <div class="trainer-intro">
                                                <h4><a href="/teacher/tdetail/<%=teacher[t]._id%>" ><%=teacher[t].name%></a></h4>
                                                <span><%= teacher[t].job %></span>
                                            </div>
                                        </div>
                                    </div>
                                  <%}%>

                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- / #Trainer Area End  -->
                <!-- CTA Start -->
                <!-- <section class="cta8 relative">
                    <div class="cta-right-fruit">
                        <img src="/images/cta/fruit.png" alt="" class="/images-responsive">
                    </div>
                    <div class="cta-bg8">
                        <div class="container">
                            <div class="row">
                                <div class="cta-content">
                                    <div class="col-sm-7">
                                        <h2>European Cuisines Cooking Class Added!</h2>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                                        <a href="#" class="btn">Join Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section> -->
                <!-- CTA End -->
                <!-- Blog Area Start -->
                <!-- <section id="blog" class="section-full blog8">
                    <div class="container">
                        <div class="blog">
                            <div class="row">
                                <div class="col-md-offset-2 col-md-8 col-sm-12">
                                    <div class="section-head text-center pb-100">
                                        <h2 class="first-title">Recent Blog Posts</h2>
                                        <p>Lorem ipsum dolor sit amet, consectetur adippisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="total-blog">
                                    <div class="col-sm-4 col-xs-12">
                                        <div class="single-blog1">
                                            <img src="/images/blog/c1.jpg" alt="" class="/images-responsive">
                                            <div class="blog-content">
                                                <span class="date">2nd Feb 2017</span>
                                                <h4 class="blog-head"><a href="35-blog-single.html" target="_blank">Drive your own Car</a></h4>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                                                <p><a href="35-blog-single.html" target="_blank">Read More<i class="ml-10 fa fa-caret-right" aria-hidden="true"></i></a></p>
                                                <div class="blog-comment flex space-between">
                                                    <a href="29-teacher-details.html" target="_blank"><span class="et-line icon-profile-male"></span> Lendl Simmons</a>
                                                    <a href="#"><span class="et-line icon-chat"></span>09 Comments</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="single-blog2">
                                            <div class="bg-gray total-link">
                                                <p><span class="et-line icon-attachment"></span></p>
                                                <h4 class="blog-head"><a href="35-blog-single.html" target="_blank">Drive your own Car</a></h4>
                                                <div class="blog-comment flex space-between">
                                                    <a href="29-teacher-details.html" target="_blank" class="s-comment"><span class="et-line icon-profile-male"></span> Lendl Simmons</a>
                                                    <a href="#" class="s-comment"><span class="et-line icon-chat"></span>09 Comments</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="single-blog3">
                                            <div class="bg-gray total-link">
                                                <p><a href="35-blog-single.html" target="_blank">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</a></p>
                                                <p class="icon"><span class="et-line icon-quote text-black"></span></p>
                                                <p class="name"><a href="29-teacher-details.html" target="_blank">Bubalo Smith</a></p>
                                            </div>
                                        </div>
                                        <div class="single-blog4">
                                            <div class="total-link">
                                                <div class="overlay op-2"></div>
                                                <div class="total-content">
                                                    <span>2nd Feb 2017</span>
                                                    <h4 class="blog-head"><a href="35-blog-single.html" target="_blank">Drive your own Car</a></h4>
                                                    <div class="blog-comment flex space-between">
                                                        <a href="29-teacher-details.html" target="_blank" class="s-comment"><span class="et-line icon-profile-male"></span> Lendl Simmons</a>
                                                        <a href="#" class="s-comment"><span class="et-line icon-chat"></span>09 Comments</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="single-blog1">
                                            <img src="/images/blog/c3.jpg" alt="" class="/images-responsive">
                                            <div class="blog-content">
                                                <span class="date">2nd Feb 2017</span>
                                                <h4 class="blog-head"><a href="35-blog-single.html" target="_blank">Drive your own Car</a></h4>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                                                <p><a href="35-blog-single.html" target="_blank">Read More<i class="ml-10 fa fa-caret-right" aria-hidden="true"></i></a></p>
                                                <div class="blog-comment flex space-between">
                                                    <a href="29-teacher-details.html" target="_blank"><span class="et-line icon-profile-male"></span> Lendl Simmons</a>
                                                    <a href="#"><span class="et-line icon-chat"></span>09 Comments</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="single-blog5">
                                            <div class="overlay overlay-bg"></div>
                                            <div class="total-link">
                                                <p><span class="et-line icon-attachment"></span></p>
                                                <h4 class="blog-head"><a href="35-blog-single.html" target="_blank">Drive your own Car</a></h4>
                                                <div class="blog-comment flex space-between">
                                                    <a href="29-teacher-details.html" target="_blank" class="s-comment"><span class="et-line icon-profile-male"></span> Lendl Simmons</a>
                                                    <a href="#" class="s-comment"><span class="et-line icon-chat"></span>09 Comments</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section> -->
                <!-- / #Blog Area End  -->
                <!-- <div class="container-fluid bg-gray">
                    <div class="container icons">
                        <div class="row" id="demo">
                            <div class="brand">
                                <div class="item"><img src="/images/brand/1.png" alt="icon-1"/></div>
                                <div class="item"><img src="/images/brand/2.png" alt="icon-1"/></div>
                                <div class="item"><img src="/images/brand/3.png" alt="icon-1"/></div>
                                <div class="item"><img src="/images/brand/4.png" alt="icon-1"/></div>
                                <div class="item"><img src="/images/brand/5.png" alt="icon-1"/></div>
                                <div class="item"><img src="/images/brand/6.png" alt="icon-1"/></div>
                            </div>
                        </div>
                    </div>
                </div> -->
                <!-- Testimonial Area Start -->
                <section class="section-full designing-testimonial cooking-testimonial">
                    <div class="container">
                        <div class="row">
                            <div class="active-design-carousel">
                              <%= for(var k =0; k< course.length;k++){%>
                                <div class="single-carousel">
                                    <div class="col-sm-offset-2 col-sm-8">
                                        <div class="single-testimonial">
                                            <div class="test-img">
                                                <img src="/images/testimonial/t3.jpg" alt="" class="/images-responsive">
                                            </div>
                                            <div class="test-body">
                                                <p><%= course[k].desc%></p>
                                                <h4><%= coures[k].teacher_id.name%></h4>
                                                <span><%= course[k].name%></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                              <%}%>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Testimonial Area End -->
            </main>
            <!-- Footer Area Start -->
            <% include partial/footer %>
            <!-- Footer Area End -->


        <!--
        JavaScripts
        ========================== -->
        <!-- <script src="js/vendor/jquery-2.2.4.min.js"></script>
        <script src="js/vendor/bootstrap.min.js"></script>
        <script src="js/vendor/materialize.min.js"></script>
        <script src="js/owl.carousel.min.js"></script>
        <script src="js/jquery.sticky.js"></script>
        <script src="js/jquery.slicknav.min.js"></script> -->
        <!-- <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCqCaX4fFEQRiTJoeclXKZRaFh2fYfps_Y&callback=initMap"></script> -->
        <!-- <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script> -->
        <!-- <script src="js/jquery.nice-select.js"></script> -->
        <!-- <script src="js/jquery.jCounter-0.1.4.js"></script>

        <script src="js/main.js"></script> -->
        <script src="/javascripts/minified/minified.js"></script>
        <!-- <script src="/javascripts/map-init.js"></script> -->
    </body>
</html>
